body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
}
#u951 {
  position:absolute;
  left:2px;
  top:242px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
