body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:455px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:455px;
}
#u197 {
  position:absolute;
  left:2px;
  top:220px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:0px;
  top:455px;
  width:310px;
  height:45px;
}
#u199 {
  position:absolute;
  left:2px;
  top:14px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u201 {
  position:absolute;
  left:252px;
  top:460px;
  width:17px;
  height:18px;
}
#u202 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u203 {
  position:absolute;
  left:238px;
  top:482px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u206 {
  position:absolute;
  left:147px;
  top:460px;
  width:17px;
  height:18px;
}
#u207 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#666666;
}
#u208 {
  position:absolute;
  left:133px;
  top:482px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1ABC9C;
}
#u211 {
  position:absolute;
  left:35px;
  top:481px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#1ABC9C;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:18px;
}
#u213 {
  position:absolute;
  left:35px;
  top:460px;
  width:23px;
  height:18px;
  color:#1ABC9C;
}
#u214 {
  position:absolute;
  left:2px;
  top:1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  color:#339966;
}
#u216 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u218 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u219_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u219.mouseDown {
}
#u220 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:0px;
  top:35px;
  width:310px;
  height:149px;
  overflow:hidden;
}
#u221_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u221_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  overflow:hidden;
  touch-action:pan-y;
}
#u222_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u222_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u224 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  word-wrap:break-word;
}
#u222_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u222_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  word-wrap:break-word;
}
#u222_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u222_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u228 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  word-wrap:break-word;
}
#u222_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u222_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:149px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#FFFFFF;
}
#u230 {
  position:absolute;
  left:2px;
  top:66px;
  width:306px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u232 {
  position:absolute;
  left:134px;
  top:126px;
  width:7px;
  height:7px;
}
#u232_img.selected {
}
#u232.selected {
}
#u233 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u234 {
  position:absolute;
  left:145px;
  top:126px;
  width:7px;
  height:7px;
}
#u234_img.selected {
}
#u234.selected {
}
#u235 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u236 {
  position:absolute;
  left:158px;
  top:126px;
  width:7px;
  height:7px;
}
#u236_img.selected {
}
#u236.selected {
}
#u237 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u238 {
  position:absolute;
  left:169px;
  top:126px;
  width:7px;
  height:7px;
}
#u238_img.selected {
}
#u238.selected {
}
#u239 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:0px;
  top:187px;
  width:310px;
  height:33px;
  overflow:hidden;
}
#u240_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u240_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u241 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u242 {
  position:absolute;
  left:50px;
  top:8px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  overflow:hidden;
}
#u243_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u243_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u245 {
  position:absolute;
  left:50px;
  top:6px;
  width:240px;
  word-wrap:break-word;
}
#u243_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u243_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u247 {
  position:absolute;
  left:50px;
  top:6px;
  width:240px;
  word-wrap:break-word;
}
#u243_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u243_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u248 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u249 {
  position:absolute;
  left:50px;
  top:6px;
  width:240px;
  word-wrap:break-word;
}
#u243_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u243_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u251 {
  position:absolute;
  left:50px;
  top:6px;
  width:240px;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1ABC9C;
}
#u252 {
  position:absolute;
  left:257px;
  top:8px;
  width:36px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1ABC9C;
}
#u252_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#1ABC9C;
}
#u252.mouseDown {
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u254 {
  position:absolute;
  left:17px;
  top:8px;
  width:17px;
  height:17px;
}
#u255 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256 {
  position:absolute;
  left:0px;
  top:223px;
  width:310px;
  height:100px;
}
#u257 {
  position:absolute;
  left:2px;
  top:42px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u259 {
  position:absolute;
  left:30px;
  top:232px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u260 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:15px;
  top:282px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u264 {
  position:absolute;
  left:129px;
  top:232px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u266 {
  position:absolute;
  left:114px;
  top:282px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u267 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u269 {
  position:absolute;
  left:229px;
  top:232px;
  width:50px;
  height:50px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:2px;
  top:11px;
  width:46px;
  word-wrap:break-word;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u271 {
  position:absolute;
  left:214px;
  top:282px;
  width:80px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u272 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u273 {
  position:absolute;
  left:0px;
  top:330px;
  width:310px;
  height:120px;
}
#u274 {
  position:absolute;
  left:2px;
  top:52px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u275 {
  position:absolute;
  left:0px;
  top:333px;
  width:70px;
  height:60px;
  line-height:28px;
}
#u276 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u277 {
  position:absolute;
  left:80px;
  top:333px;
  width:70px;
  height:60px;
  line-height:28px;
}
#u278 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u279 {
  position:absolute;
  left:160px;
  top:333px;
  width:70px;
  height:60px;
  line-height:28px;
}
#u280 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u281 {
  position:absolute;
  left:240px;
  top:333px;
  width:70px;
  height:60px;
  line-height:28px;
}
#u282 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
