body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:503px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1141 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:503px;
}
#u1142 {
  position:absolute;
  left:2px;
  top:244px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u1143 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  color:#339966;
}
#u1144 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1146 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1147 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1147_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1147.mouseDown {
}
#u1148 {
  position:absolute;
  left:20px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:35px;
  width:309px;
  height:206px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
  line-height:24px;
}
#u1151 {
  position:absolute;
  left:20px;
  top:80px;
  width:269px;
  word-wrap:break-word;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1152 {
  position:absolute;
  left:16px;
  top:145px;
  width:276px;
  height:84px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
}
#u1153 {
  position:absolute;
  left:2px;
  top:13px;
  width:272px;
  word-wrap:break-word;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u1154 {
  position:absolute;
  left:16px;
  top:257px;
  width:276px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u1154_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u1154.mouseDown {
  opacity:0.8;
}
#u1155 {
  position:absolute;
  left:0px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u1156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u1156 {
  position:absolute;
  left:16px;
  top:303px;
  width:276px;
  height:37px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u1156_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#5DAB9E;
  line-height:20px;
}
#u1156.mouseDown {
}
#u1157 {
  position:absolute;
  left:0px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
