body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:501px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:501px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:242px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u1314 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:35px;
  color:#339966;
}
#u1315 {
  position:absolute;
  left:2px;
  top:10px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1316 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1317 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1318 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1318_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1318.mouseDown {
}
#u1319 {
  position:absolute;
  left:20px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
.u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:114px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u1321_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u1321.mouseOver {
}
.u1321_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:32px;
}
.u1321.selected {
}
.u1322 {
  position:absolute;
  left:210px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.u1323 {
  position:absolute;
  left:106px;
  top:0px;
  width:204px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
.u1324 {
  position:absolute;
  left:10px;
  top:10px;
  width:184px;
  word-wrap:break-word;
}
.u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:90px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
.u1325 {
  position:absolute;
  left:8px;
  top:10px;
  width:99px;
  height:90px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:48px;
  color:#FFFFFF;
  line-height:20px;
}
.u1326 {
  position:absolute;
  left:0px;
  top:35px;
  width:99px;
  word-wrap:break-word;
}
.u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u1327 {
  position:absolute;
  left:132px;
  top:80px;
  width:59px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
.u1328 {
  position:absolute;
  left:5px;
  top:-2px;
  width:54px;
  word-wrap:break-word;
}
.u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  line-height:20px;
}
.u1329 {
  position:absolute;
  left:116px;
  top:80px;
  width:17px;
  height:20px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:18px;
  color:#CCCCCC;
  line-height:20px;
}
.u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
.u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u1331 {
  position:absolute;
  left:183px;
  top:80px;
  width:53px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u1332 {
  position:absolute;
  left:5px;
  top:-2px;
  width:48px;
  word-wrap:break-word;
}
.u1333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u1333 {
  position:absolute;
  left:236px;
  top:80px;
  width:58px;
  height:20px;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:24px;
}
.u1334 {
  position:absolute;
  left:5px;
  top:-2px;
  width:53px;
  word-wrap:break-word;
}
#u1320-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:114px;
}
#u1320-2 {
  position:absolute;
  left:0px;
  top:124px;
  width:310px;
  height:114px;
}
#u1320-3 {
  position:absolute;
  left:0px;
  top:248px;
  width:310px;
  height:114px;
}
#u1320-4 {
  position:absolute;
  left:0px;
  top:372px;
  width:310px;
  height:114px;
}
#u1320-5 {
  position:absolute;
  left:0px;
  top:496px;
  width:310px;
  height:114px;
}
#u1320-6 {
  position:absolute;
  left:0px;
  top:620px;
  width:310px;
  height:114px;
}
#u1320-7 {
  position:absolute;
  left:0px;
  top:744px;
  width:310px;
  height:114px;
}
#u1320 {
  position:absolute;
  left:0px;
  top:175px;
  width:310px;
  height:858px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1335 {
  position:absolute;
  left:0px;
  top:35px;
  width:310px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u1336 {
  position:absolute;
  left:20px;
  top:52px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1338 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1339 {
  position:absolute;
  left:0px;
  top:55px;
  width:103px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1340 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1342 {
  position:absolute;
  left:103px;
  top:55px;
  width:103px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1343 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1345 {
  position:absolute;
  left:207px;
  top:55px;
  width:103px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
}
#u1346 {
  position:absolute;
  left:0px;
  top:4px;
  width:103px;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1349 {
  position:absolute;
  left:117px;
  top:1053px;
  width:30px;
  height:30px;
}
#u1350 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1351 {
  position:absolute;
  left:147px;
  top:1053px;
  width:64px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u1352 {
  position:absolute;
  left:0px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
