body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u884 {
  position:absolute;
  left:2px;
  top:242px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  color:#339966;
}
#u886 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u888 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u889_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u889.mouseDown {
}
#u890 {
  position:absolute;
  left:20px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u891 {
  position:absolute;
  left:0px;
  top:74px;
  width:310px;
  height:60px;
  text-align:left;
}
#u892 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u893 {
  position:absolute;
  left:0px;
  top:139px;
  width:310px;
  height:60px;
  text-align:left;
}
#u894 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u895 {
  position:absolute;
  left:0px;
  top:204px;
  width:310px;
  height:60px;
  text-align:left;
}
#u896 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u897 {
  position:absolute;
  left:0px;
  top:269px;
  width:310px;
  height:60px;
  text-align:left;
}
#u898 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:13px;
  top:45px;
  width:93px;
  height:22px;
}
#u899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u899_input:disabled {
  color:grayText;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u900 {
  position:absolute;
  left:0px;
  top:334px;
  width:310px;
  height:60px;
  text-align:left;
}
#u901 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
