body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:310px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:500px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u1054 {
  position:absolute;
  left:2px;
  top:242px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339966;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  color:#339966;
}
#u1056 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:35px;
  font-size:14px;
  color:#FFFFFF;
}
#u1058 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1059_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1059.mouseDown {
}
#u1060 {
  position:absolute;
  left:20px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:0px;
  top:35px;
  width:310px;
  height:160px;
}
#u1062 {
  position:absolute;
  left:2px;
  top:72px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u1063 {
  position:absolute;
  left:10px;
  top:35px;
  width:112px;
  height:40px;
  text-align:left;
  line-height:22px;
}
#u1064 {
  position:absolute;
  left:15px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:22px;
}
#u1065 {
  position:absolute;
  left:122px;
  top:35px;
  width:178px;
  height:40px;
  text-align:right;
  line-height:22px;
}
#u1066 {
  position:absolute;
  left:15px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u1067 {
  position:absolute;
  left:10px;
  top:75px;
  width:112px;
  height:40px;
  text-align:left;
  line-height:22px;
}
#u1068 {
  position:absolute;
  left:15px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:22px;
}
#u1069 {
  position:absolute;
  left:122px;
  top:75px;
  width:178px;
  height:40px;
  text-align:right;
  line-height:22px;
}
#u1070 {
  position:absolute;
  left:15px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u1071 {
  position:absolute;
  left:10px;
  top:115px;
  width:112px;
  height:40px;
  text-align:left;
  line-height:22px;
}
#u1072 {
  position:absolute;
  left:15px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:22px;
}
#u1073 {
  position:absolute;
  left:122px;
  top:115px;
  width:178px;
  height:40px;
  text-align:right;
  line-height:22px;
}
#u1074 {
  position:absolute;
  left:15px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:22px;
}
#u1075 {
  position:absolute;
  left:10px;
  top:155px;
  width:112px;
  height:40px;
  text-align:left;
  line-height:22px;
}
#u1076 {
  position:absolute;
  left:15px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
  line-height:22px;
}
#u1077 {
  position:absolute;
  left:122px;
  top:155px;
  width:178px;
  height:40px;
  text-align:right;
  line-height:22px;
}
#u1078 {
  position:absolute;
  left:15px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1079 {
  position:absolute;
  left:15px;
  top:215px;
  width:92px;
  height:16px;
  font-size:13px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:0px;
  top:241px;
  width:310px;
  height:121px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:52px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:8px;
  top:255px;
  width:90px;
  height:40px;
}
#u1083_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083.selected {
}
#u1084 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:110px;
  top:305px;
  width:190px;
  height:40px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087 {
  position:absolute;
  left:113px;
  top:307px;
  width:185px;
  height:36px;
}
#u1087_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:208px;
  top:255px;
  width:90px;
  height:40px;
}
#u1088_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088.selected {
}
#u1089 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:108px;
  top:255px;
  width:90px;
  height:40px;
}
#u1090_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090.selected {
}
#u1091 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092 {
  position:absolute;
  left:8px;
  top:305px;
  width:90px;
  height:40px;
}
#u1092_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(93, 171, 158, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1092.selected {
}
#u1093 {
  position:absolute;
  left:2px;
  top:11px;
  width:86px;
  word-wrap:break-word;
}
#u1094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:39px;
  background:inherit;
  background-color:rgba(93, 171, 158, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1094 {
  position:absolute;
  left:0px;
  top:461px;
  width:310px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1095 {
  position:absolute;
  left:2px;
  top:10px;
  width:306px;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u1096 {
  position:absolute;
  left:0px;
  top:363px;
  width:310px;
  height:39px;
  font-size:12px;
  text-align:left;
}
#u1097 {
  position:absolute;
  left:15px;
  top:10px;
  width:293px;
  word-wrap:break-word;
}
